receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch:
  memory_limiter:
    limit_mib: 256
    spike_limit_mib: 64
    check_interval: 5s

exporters:
  otlp/tempo:
    endpoint: http://192.168.17.187:4317
    tls:
      insecure: true

  prometheus:
    endpoint: "0.0.0.0:8889"

  debug: {}

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlp/tempo, debug]
    metrics:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [prometheus]
