services:
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend

  # Redis with persistent volume
  redis-persistent:
    image: redis:7.4.0-bookworm
    container_name: redis-persistent
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 127.0.0.1:6379:6379
    volumes:
      - redis_data:/data
    command:
      - "redis-server"
      - "--save"
      - "60"
      - "1"
      - "--save"
      - "300"
      - "10"
      - "--appendonly"
      - "yes"
      - "--appendfsync"
      - "everysec"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend
