services:
  tempo:
    image: grafana/tempo:2.4.1
    container_name: tempo
    restart: always
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - ./tempo-data:/var/tempo
    ports:
      - "3200:3200"
      - "4317:4317"
    networks:
      - monitoring
